html,
body {
  font-family: 'Lato', sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 25px;
  background: #323331;
  margin: 0;
}

.container {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.container a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  min-height: 80px;
  margin: 10px;
  background-color: #f0db4f;
  cursor: pointer;
}

.container a,
.container a:hover,
.container a:visited {
  text-decoration: none;
  color: #323331;
}

.container a:hover {
  background-color: #a79733;
}

.container a[href="#"] {
  background-color: #b9b9b9;
}

footer {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
  align-items: flex-end;
  background: white;
}