:root {
  --backgroundColor: 255;
  --textColor: 0;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(var(--backgroundColor),
  var(--backgroundColor),
  var(--backgroundColor));
  height: 100vh;
  margin: 0 5vw;
}

.slider {
  z-index: 0;
}

.slider h1 {
  font-size: 8vw;
  letter-spacing: 5vw;
  margin: auto;
  color: rgb(var(--textColor),
    var(--textColor),
    var(--textColor));
}

.slider input {
  position: relative;
  z-index: 2;
  margin-top: 3vh;
  margin-bottom: 20vh;
  width: 100%;
}

.slider .overlay {
  position: absolute;
  z-index: 1;
  left: 0vw;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(var(--backgroundColor),
    var(--backgroundColor),
    var(--backgroundColor));
}